<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GROQ_API_KEY</key>
	<string>ak-3d0cc997-8e83-4e49-8768-8bd64caa7860-aK8Oz8TSRaM69nkW5gT-DZIlTvPJjBti</string>
</dict>
</plist>
